body {
	background: #F7F5F9;
        border-radius: 12px;
}
input[type="text"] {
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
        height: 48px;
        width: 401px;	
	color: #b2b2b2;
	padding: 0 10px;
	vertical-align: top;
	corner radius: 6px;
}
button {
	color: #FFFFFF;
	background-color: #6979F8;
	border: none;
	height: 48px;
        width: 401px;
        corner radius: 6px;
	font-family: 'Roboto', sans-serif;
}
